body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 

  
}
.buscar{
  margin: auto;
  height: 27px;
  width: 28%;
  border: solid 1px #90909052;
  border-radius: 6px;

}

.sombra{
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: aquamarine;
}

/* video */
.ContentVideo{

  overflow: hidden;

  position: relative;


 
}

.myVideo {

 overflow: hidden;
    
    width: 100%;
    position: relative;
}
.PrincipalWithInput{
  position: absolute;
  top: 10%;
  width: 100%;
}
.PrincipalWithInput, .PrincipalWithInputH1, form{
 
  margin: auto;
  font-size: 70px;
  display: grid;
  width: 100%;
  text-align: center;
}
input{
  width: 28%;
  border-radius: 5px 5px 5px 5px;
    height: 25px;
    border: none;
    font-size: 30px;
    outline: none;
    margin: auto;


}



/* Error o no hay */


.ErrorNohay{
  width: 100%;
    background-color: #00adff7d;
    height: 215px;
    top: 70%;
    position: absolute;
}

.ErrorH1{
  padding-left: 27%;
  padding-top: 4%;
  margin: 0;
}

/* Grid imagenes */

.ContentImagenes{
  display: grid;
  margin-top: 6px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 11px;
}
.Imagenes{
  width: 100%;
  height: 300px;
  box-shadow: 1px 1px 10px 3px #00000087;
  border-radius: 12px;
}



.RazasSugeridas{
  transition: 0.5s;
  background-color: white;
    font-size: 25px;
    width: 381px;
    margin: auto;
    text-align: initial;
  
}


.contentRazas{
  transition: 1s;
  background-color: white;
  font-size: 25px;
  width: 381px;
  margin: auto;

}


@media only screen and (max-width: 600px) {

  .ContentImagenes{
    
    grid-template-columns: auto ;
  
  }
  .buscar{
    
    width: 17%;
   
  
  }
  .PrincipalWithInput, .PrincipalWithInputH1, form{
 
    margin: auto;
    font-size: 25px;
    display: block;
    width: 100%;
    text-align: center;
  }

  .ContentVideo {
    overflow: hidden;
    position: relative;
  
    height: 623px;
}
.myVideo {
  width: auto;
}

input {
  width: 67%;
  border-radius: 10px 10px 10px 10px;
  height: 27px;
  border: none;
  font-size: 20px;
  outline: none;
  margin: auto;
}

.contentRazas {
  transition: 1s;
  background-color: #ffffff00;
  font-size: 25px;
  width: auto;
  margin: auto;
}

.RazasSugeridas {
  transition: 0.5s;
  background-color: #dedede61;
  font-size: 25px;
  width: 200px;
  margin: auto;
  text-align: initial;
}


.ErrorNohay {
  width: 100%;
  background-color: #89222238;
  height: 261px;
  top: 37%;
  position: absolute;
}
.ErrorH1 {
  /* padding-top: 6%; */
  margin: auto;
  display: block;
  /* padding-left: 20%; */
}
}