body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.buscar {
  margin: auto;
  height: 27px;
  width: 28%;
  border: solid 1px #90909052;
  border-radius: 6px;
}

.sombra {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: aquamarine;
}

/* video */
.ContentVideo {
  overflow: hidden;

  position: relative;
}

.myVideo {
  z-index: -1;
  overflow: hidden;
  width: 100%;
  position: absolute;
}
.PrincipalWithInput {
  height: 100vh;
  width: 100%;
  z-index: 100;
  display: flex;
  background: linear-gradient(
    0deg,
    rgba(33, 29, 29, 0.7035189075630253) 0%,
    rgba(54, 70, 54, 0.6979166666666667) 35%,
    rgba(134, 194, 143, 0.6558998599439776) 100%
  );
  flex-direction: column;

  align-items: center;
}
.PrincipalWithInput h1 {
  color: rgb(243, 243, 243);
  letter-spacing: 3px;
}

/* Buscador styles */

.containerSeraching {
  width: 400px;
  display: flex;
  flex-direction: column;

  margin: 12px;
}
.containerSeraching form {
  width: 100%;
  display: flex;
}
.containerSeraching input {

  width: 100%;
  height: 30px;
  font-size: 28px;
  background-color: #f0f0f0;
  color: rgb(31, 31, 31);
  border: solid 3px rgba(255, 255, 255, 0.842);
  border-radius: 5px;
  outline: none;
  padding: 2px;
  letter-spacing: 2px;
  border-radius: 10px 0px 0px 10px;
}
.containerSeraching button {
  color: rgb(238, 238, 238);
  background-color: rgb(103, 168, 65);
  height: 100%;
  font-size: 22px;
  cursor: pointer;
  border-radius: 0 10px 10px 0px;
}
.content-options {
  width: 100%;
  height: 380px;
  background-color: rgb(51, 51, 51);
  overflow: auto;
  color: aliceblue;
  transition: 1s cubic-bezier(1, 0, 0, 1);
}
.content-options ul {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.content-options li {
  font-size: 20px;
  list-style: none;
  margin: 4px;
  cursor: pointer;

  border-bottom: 1px solid #949494;
  padding: 5px;
  width: 100%;
  letter-spacing: 1px;
}

/* Error o no hay */

.ErrorNohay {
  width: 100%;
  background-color: #00adff7d;
  height: 215px;
  top: 70%;
  position: absolute;
}

.ErrorH1 {
  padding-left: 27%;
  padding-top: 4%;
  margin: 0;
}

/* Grid imagenes */

.ContentImagenes {
  display: grid;
  margin-top: 6px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 11px;
}
.Imagenes {
  width: 100%;
  height: 300px;
  box-shadow: 1px 1px 10px 3px #00000087;
  border-radius: 12px;
}

.RazasSugeridas {
  transition: 0.5s;
  background-color: white;
  font-size: 25px;
  width: 381px;
  margin: auto;
  text-align: initial;
}

.contentRazas {
  transition: 1s;
  background-color: white;
  font-size: 25px;
  width: 381px;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  .ContentImagenes {
    grid-template-columns: auto;
  }

  .ContentVideo {
    overflow: hidden;
    position: relative;
  }
  .myVideo {
    width: auto;
  }

  .ErrorNohay {
    width: 100%;
    background-color: #89222238;
    height: 261px;
    top: 37%;
    position: absolute;
  }
  .ErrorH1 {
    /* padding-top: 6%; */
    margin: auto;
    display: block;
    /* padding-left: 20%; */
  }
}
@media only screen and (max-width: 500px) {
  .PrincipalWithInput h1 {
    letter-spacing: 0px;
  }
  .containerSeraching form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .containerSeraching input {
    text-align: center;
    border: none;
    width: 100%;
    border-radius: 0px;
    padding: 0;
  }
  .containerSeraching button {
    border-radius: 0px;

    width: 100%;
  }

  .content-options ul {
    align-items: normal;
  }
}
